* {
 margin: 0;
 padding: 0;   
 box-sizing: border-box;
}

body{
    text-rendering: optimizeLegibility;
}

html{
    font-size: 62.5%;
}

ul li{
    list-style-type: none;
}

h1{
    font-size: 4.2rem;
    color: #ffffff;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

.btn:link,
.btn:visited,
.btn {
    background: #000;
    color: #ffffff;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: .3rem;
    border: .1rem solid gray;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.6rem;

}

header {
    background: linear-gradient(rgba(135,80,156,0.9),rgba(135,80,156,0.9)), url(/resources/ing/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 85vh;
    position: relative;
}

.logo {
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}

.main-nav{
    float: right;
    margin-top: 4rem;
}

.main-nav li{
    display: inline-block;
    margin-left: 1.5rem;
    border-radius: .3rem;
}

.main-nav li:first-child{
    margin-left: .0rem;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background:rgba(100, 58, 121, 0);
    padding: .5rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: .5s;
    border-radius: .3rem;
    
}

.main-nav  li:hover a:link,
.main-nav  li:hover a:visited{
    background: rgba(100, 58, 121, 1);
    padding: .5rem;

}

.active{
    background: rgba(100, 58, 121, 1);
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    text-align: center;
}

.btn-hero:link,.btn-hero:visited {
    background: #eb7d4b;
    border-color: #c86a40;
}